<div class="card-body">
	<h5 class="card-title text-center">My Todo Lists</h5>
</div>
<ul class="list-group list-group-flush">
	<% @todo_lists.each do |todo_list| %>
		<%= link_to todo_list, class: 'text-decoration-none' do %>
			<li class="list-group-item list-group-item-deco">
				<span class="list-title font-weight-bold d-block"><%= truncate todo_list.title, length: 30 %><br></span>
				<span class="font-weight-lighter list-description"><%= truncate todo_list.description, length: 43 %></span>
			</li>
		<% end %>
	<% end %>
</ul>

<%= link_to 'New Todo List', new_todo_list_path, class: 'btn-light card-footer text-center text-decoration-none' %>
