<div class="card-body">
  <h5 class="card-title text-center">
    New Todo List
  </h5>
</div>
<div class="card-body">
  <%= render 'form', todo_list: @todo_list %>
</div>

<%= link_to 'Back', todo_lists_path, class: 'btn-light card-footer text-center text-decoration-none' %>
